
@model PassionProject.Models.OrderDto
@{
    ViewBag.Title = "View";
}

<h2><a href="/Order/List">Go back to list</a> </h2>


<h2>Order Details</h2>
<h2>Order Id:@Model.Id</h2>
<h2>Store Id:@Model.StoreId</h2>
<h2>Burger Id:@Model.BurgerId</h2>
<h2>Quantity:@Model.Quantity</h2>
<h2>Date:@Model.Date</h2>

