
@model PassionProject.Models.OrderDto
@{
    ViewBag.Title = "View";
}

<h2><a href="/Order/List">Go back to list</a> </h2>


<h2>Order Details</h2>
<h2>@Model.Id</h2>
<h2>@Model.StoreId</h2>
<h2>@Model.Date</h2>
