@model PassionProject.Models.OrderDto

    @{
        ViewBag.Title = "Edit";
    }

    <h2>Update Order</h2>
    <form action="/Order/Update/@Model.Id" method="POST">
        <div style="display:none;">
            <input type="text" name="number" value="@Model.Id" />
        </div>
        <div>
            <label>Date:</label> <input type="datetime" name="Date" value="@Model.Date.ToString("yyyy-MM-dd")" />
        </div>

        <div>
            <label>StoreId:</label> <input type="number" name="StoreId" value="@Model.StoreId" />
        </div>


        <div>
            <input type="submit" value="Update Order" />

        </div>
    </form>




