
@model IEnumerable<PassionProject.Models.OrderDto>
@{
    ViewBag.Title = "List";
}


<h2>Order Lists</h2>
<a href="/Order/New">New Order</a>
@foreach (var order in Model)
{
    <h2><a href="/Order/Details/@order.StoreId">Id:@order.Id StoreId:@order.StoreId </a> </h2>
    <div>Date:@order.Date </div>


}
