
@{
    ViewBag.Title = "Create";
}

<h2>Create order(sales)</h2>
<form action="/Order/Create" method="POST">
    <div>
        <label>Store:</label> <input type="number" name="StoreId" />
    </div>
    <div>
        <label>Date:</label> <input type="datetime" value="@System.DateTime.Now.ToString("yyyy-MM-dd")" name="date" />
    </div>
    <div>
        <input type="submit" value="Add Order" />

    </div>
</form>