
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<form action="/Order/Create" method="POST">
    <div>
        <label>Date:</label> <input type="datetime" name="Date" />
        <label>Store:</label> <input type="number" name="StoreId" />
    </div>
    <div>
        <input type="submit" value="Add Order" />

    </div>
</form>
 