
@model IEnumerable<PassionProject.Models.Location>
@{
    ViewBag.Title = "List";
}

<h2>Location List</h2>

<p><a href="/Location/New">Create New Location</a></p>

@foreach (var location in Model)
{
    <h4><a href="/Location/Details/@location.StoreId">Store ID: @location.StoreId, @location.StoreName</a> </h4>  
}

